qa-screenshots/desktop-1920-fullpage.png filter=lfs diff=lfs merge=lfs -text
ivx-holdings-v1.4.0.apk filter=lfs diff=lfs merge=lfs -text
ivx-holdings-v1.4.1.apk filter=lfs diff=lfs merge=lfs -text
ivx-holdings-v1.4.2.apk filter=lfs diff=lfs merge=lfs -text
